body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

i.icon {
  margin-right: -3px !important;
}

.ui.menu.fixed{
background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

.ui.label.label {
  width: 83px;
}

.container .search_controls {
  display: "inline-block";

}

/*
    display: flex;
    margin-left: 17px;
    align-items: center;
*/